name: Go Structurarium CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.23.2' # Ensure this matches your Go version

      - name: Install dependencies
        run: go mod tidy

      - name: Run tests
        run: |
          mkdir -p test-reports
          go test -v ./... | tee test-reports/test-report.txt

      - name: Upload test report
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: test-report
          path: test-reports/test-report.txt

  check:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Verify Tests
        run: echo "All tests must pass for merge to proceed."

